/* MAIN STYLING */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #0f0f0f;
    overflow-x: hidden;
}

#header {
    background-color: #060606;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 22px;
    height: 80px;
}

#list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#list li {
    display: inline-block;
    margin-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

#logo {
    width: 60px;
    height: 60px;
    margin: 10px;
    transition: all 0.3s ease;
}

#logo:hover {
    transform: scale(1.1);
}

#main {
    padding: 20px;
    padding-bottom: 10px;
}

.multichoicelabel,
.placeholder,
select,
input {
    display: inline-block;
    margin-right: 20px;
    background-color: #0f0f0f;
    color: #dcdcdc;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

input {
    border-bottom: 1px solid #dcdcdc;
}

.checkbox {
    padding-left: 20px;
}

#li {
    padding-right: 20px;
}

#footer {
    background-color: #060606;
    color: #999;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    cursor: default;
}

#li {
    padding-right: 385px;
}

#footer a {
    color: #999;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
